---
openapi: 3.1.0
info:
  title: OurSchoolSchedule-BE API
  description: |-
    OurSchoolSchedule-BE API 명세서모든 에러 응답은 GlobalExceptionHandler를 통해 공통 포맷(ApiResponse)으로 반환됩나다.
    따라서 모든 error 분류와, message는 상황에 따라 다르게 출력됩니다.
  version: v1
servers:
  - url: https://edu.rssolplan.com/
  - url: http://localhost:8080
security:
  - bearerAuth: []
paths:
  "/api/todos/{todoId}":
    put:
      tags:
        - todo-controller
      operationId: updateTodo
      parameters:
        - name: todoId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/TodoUpdateRequestDto"
        required: true
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/TodoResponseDto"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '422':
          description: Unprocessable Entity
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
    delete:
      tags:
        - todo-controller
      operationId: deleteTodo
      parameters:
        - name: todoId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '422':
          description: Unprocessable Entity
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/school-setting/periods/{periodId}":
    put:
      tags:
        - school-setting-controller
      operationId: updatePeriod
      parameters:
        - name: periodId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/PeriodSettingRequest"
        required: true
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/PeriodSettingResponse"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '422':
          description: Unprocessable Entity
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
    delete:
      tags:
        - school-setting-controller
      operationId: deletePeriod
      parameters:
        - name: periodId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '422':
          description: Unprocessable Entity
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/mypage/teacher/profile":
    get:
      tags:
        - mypage-controller
      operationId: getTeacherProfile
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/TeacherProfileResponse"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '422':
          description: Unprocessable Entity
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
    put:
      tags:
        - mypage-controller
      operationId: updateTeacherProfile
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/TeacherProfileUpdateRequest"
        required: true
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/TeacherProfileResponse"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '422':
          description: Unprocessable Entity
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/mypage/admin/school":
    get:
      tags:
        - mypage-controller
      operationId: getAdminActiveSchool
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/AdminSchoolResponse"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '422':
          description: Unprocessable Entity
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
    put:
      tags:
        - mypage-controller
      operationId: updateAdminActiveSchool
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/AdminSchoolUpdateRequest"
        required: true
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/AdminSchoolResponse"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '422':
          description: Unprocessable Entity
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/mypage/admin/profile":
    get:
      tags:
        - mypage-controller
      operationId: getAdminProfile
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/AdminProfileResponse"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '422':
          description: Unprocessable Entity
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
    put:
      tags:
        - mypage-controller
      operationId: updateAdminProfile
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/AdminProfileUpdateRequest"
        required: true
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/AdminProfileResponse"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '422':
          description: Unprocessable Entity
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/me/unavailabilities":
    get:
      tags:
        - teacher-availability-controller
      operationId: getMyUnavailabilities
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/TeacherAvailabilityResponseDto"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '422':
          description: Unprocessable Entity
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
    put:
      tags:
        - teacher-availability-controller
      operationId: replaceUnavailabilities
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/TeacherAvailabilityRequestDto"
        required: true
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/TeacherAvailabilityResponseDto"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '422':
          description: Unprocessable Entity
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
    post:
      tags:
        - teacher-availability-controller
      operationId: addUnavailabilities
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/TeacherAvailabilityRequestDto"
        required: true
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/TeacherAvailabilityResponseDto"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '422':
          description: Unprocessable Entity
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/voice-commands/preview":
    post:
      tags:
        - voice-command-controller
      operationId: preview
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/VoiceCommandRequest"
        required: true
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseCommandPreviewResponse"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '422':
          description: Unprocessable Entity
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/voice-commands/confirm":
    post:
      tags:
        - voice-command-controller
      operationId: confirm
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CommandConfirmRequest"
        required: true
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '422':
          description: Unprocessable Entity
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/todos":
    get:
      tags:
        - todo-controller
      operationId: getTodosByDate
      parameters:
        - name: date
          in: query
          required: true
          schema:
            type: string
            format: date
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/TodoListResponseDto"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '422':
          description: Unprocessable Entity
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
    post:
      tags:
        - todo-controller
      operationId: createTodo
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/TodoCreateRequestDto"
        required: true
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/TodoResponseDto"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '422':
          description: Unprocessable Entity
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/timetable":
    get:
      tags:
        - timetable-controller
      operationId: getTimetables
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/TimetableDto"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '422':
          description: Unprocessable Entity
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
    post:
      tags:
        - timetable-controller
      operationId: createTimetable
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/TimetableCreateDto"
        required: true
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/TimetableDto"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '422':
          description: Unprocessable Entity
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/timetable-swap/requests":
    post:
      tags:
        - timetable-swap-controller
      operationId: create
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/CreateSwapRequestDto"
        required: true
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/TimetableSwapRequest"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '422':
          description: Unprocessable Entity
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/timetable-swap/requests/{requestId}/respond":
    post:
      tags:
        - timetable-swap-controller
      operationId: respond
      parameters:
        - name: requestId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/ActionDto"
        required: true
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/TimetableSwapRequest"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '422':
          description: Unprocessable Entity
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/timetable-swap/requests/{requestId}/approve":
    post:
      tags:
        - timetable-swap-controller
      operationId: managerApproval
      parameters:
        - name: requestId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/ActionDto"
        required: true
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/TimetableSwapRequest"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '422':
          description: Unprocessable Entity
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/timetable-generation/requests":
    post:
      tags:
        - schedule-generation-controller
      operationId: requestTimetable
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/TimetableRequest"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '422':
          description: Unprocessable Entity
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/timetable-generation/requests/{timetableRequestId}/generate":
    post:
      tags:
        - schedule-generation-controller
      operationId: generateTimetable
      parameters:
        - name: timetableRequestId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/TimetableGenerationRequestDto"
        required: true
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                type: object
                additionalProperties: {}
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '422':
          description: Unprocessable Entity
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/timetable-generation/requests/{timetableRequestId}/confirm":
    post:
      tags:
        - schedule-generation-controller
      operationId: confirmTimetable
      parameters:
        - name: timetableRequestId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/ConfirmTimetableRequestDto"
        required: true
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                type: object
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '422':
          description: Unprocessable Entity
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/teacher-attendance/check-out":
    post:
      tags:
        - teacher-attendance-controller
      operationId: checkOut
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/TeacherAttendanceCheckOutResponse"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '422':
          description: Unprocessable Entity
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/teacher-attendance/check-in":
    post:
      tags:
        - teacher-attendance-controller
      operationId: checkIn
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/TeacherAttendanceCheckInResponse"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '422':
          description: Unprocessable Entity
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/substitutes/requests":
    get:
      tags:
        - substitute-controller
      operationId: getRequests
      parameters:
        - name: status
          in: query
          required: false
          schema:
            type: string
            default: OPEN
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/SubstituteRequestDetail"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '422':
          description: Unprocessable Entity
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
    post:
      tags:
        - substitute-controller
      operationId: create_1
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/SubstituteCreateRequest"
        required: true
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/SubstituteRequestDetail"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '422':
          description: Unprocessable Entity
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/school-setting":
    get:
      tags:
        - school-setting-controller
      operationId: getSetting
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/SchoolSettingResponse"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '422':
          description: Unprocessable Entity
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
    post:
      tags:
        - school-setting-controller
      operationId: createOrUpdateSetting
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/SchoolSettingRequest"
        required: true
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/SchoolSettingResponse"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '422':
          description: Unprocessable Entity
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/school-setting/periods":
    get:
      tags:
        - school-setting-controller
      operationId: getPeriods
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/PeriodSettingResponse"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '422':
          description: Unprocessable Entity
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
    post:
      tags:
        - school-setting-controller
      operationId: addPeriod
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/PeriodSettingRequest"
        required: true
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/PeriodSettingResponse"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '422':
          description: Unprocessable Entity
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/mypage/teacher/schools":
    get:
      tags:
        - mypage-controller
      operationId: listTeacherSchools
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/SchoolSimpleResponse"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '422':
          description: Unprocessable Entity
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
    post:
      tags:
        - mypage-controller
      operationId: joinTeacherSchool
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/TeacherJoinSchoolRequest"
        required: true
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/SchoolSimpleResponse"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '422':
          description: Unprocessable Entity
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/mypage/admin/schools":
    get:
      tags:
        - mypage-controller
      operationId: listAdminSchools
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/SchoolSimpleResponse"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '422':
          description: Unprocessable Entity
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
    post:
      tags:
        - mypage-controller
      operationId: addAdminSchool
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/AdminCreateSchoolRequest"
        required: true
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/SchoolSimpleResponse"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '422':
          description: Unprocessable Entity
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/auth/refresh-token":
    post:
      tags:
        - auth-controller
      operationId: refresh
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/RefreshTokenResponse"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '422':
          description: Unprocessable Entity
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/auth/onboarding":
    post:
      tags:
        - onboarding-controller
      operationId: onboarding
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/OnboardingRequest"
        required: true
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/OnboardingResponse"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '422':
          description: Unprocessable Entity
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/auth/logout":
    post:
      tags:
        - auth-controller
      operationId: logout
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                type: string
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '422':
          description: Unprocessable Entity
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/auth/email-verification/verify":
    post:
      tags:
        - email-verification-controller
      operationId: verifyCode
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/EmailVerificationVerifyRequest"
        required: true
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/EmailVerificationAuthResponse"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '422':
          description: Unprocessable Entity
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/auth/email-verification/send":
    post:
      tags:
        - email-verification-controller
      operationId: sendVerificationCode
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/EmailVerificationRequest"
        required: true
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/EmailVerificationResponse"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '422':
          description: Unprocessable Entity
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/auth/dev-token":
    post:
      tags:
        - dev-token-controller
      operationId: generateDevToken
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/DevTokenRequest"
        required: true
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                type: string
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '422':
          description: Unprocessable Entity
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/todos/{todoId}/toggle":
    patch:
      tags:
        - todo-controller
      operationId: toggleTodoCompleted
      parameters:
        - name: todoId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/TodoResponseDto"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '422':
          description: Unprocessable Entity
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/timetable/{timetableId}":
    delete:
      tags:
        - timetable-controller
      operationId: deleteTimetable
      parameters:
        - name: timetableId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '422':
          description: Unprocessable Entity
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
    patch:
      tags:
        - timetable-controller
      operationId: updateTimetable
      parameters:
        - name: timetableId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/TimetableCreateDto"
        required: true
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/TimetableDto"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '422':
          description: Unprocessable Entity
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/substitutes/responses/{responseId}/approval":
    patch:
      tags:
        - substitute-controller
      operationId: approve
      parameters:
        - name: responseId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/SubstituteApprovalRequest"
        required: true
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/SubstituteApprovalDetail"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '422':
          description: Unprocessable Entity
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/substitutes/requests/{requestId}/response":
    patch:
      tags:
        - substitute-controller
      operationId: respond_1
      parameters:
        - name: requestId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/SubstituteRespondRequest"
        required: true
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/SubstituteResponseDetail"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '422':
          description: Unprocessable Entity
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/mypage/active-school/{schoolId}":
    patch:
      tags:
        - mypage-controller
      operationId: updateActiveSchool
      parameters:
        - name: schoolId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ActiveSchoolResponse"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '422':
          description: Unprocessable Entity
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/timetable/year/{year}/semester/{semester}":
    get:
      tags:
        - timetable-controller
      operationId: getTimetablesByYearSemester
      parameters:
        - name: year
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: semester
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/TimetableDto"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '422':
          description: Unprocessable Entity
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/timetable/me":
    get:
      tags:
        - timetable-controller
      operationId: getMyTimetable
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/TimetableDto"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '422':
          description: Unprocessable Entity
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/timetable/me/year/{year}/semester/{semester}":
    get:
      tags:
        - timetable-controller
      operationId: getMyTimetableByYearSemester
      parameters:
        - name: year
          in: path
          required: true
          schema:
            type: integer
            format: int32
        - name: semester
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/TimetableDto"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '422':
          description: Unprocessable Entity
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/timetable-swap/requests/me":
    get:
      tags:
        - timetable-swap-controller
      operationId: getMyRequests
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/TimetableSwapRequest"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '422':
          description: Unprocessable Entity
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/timetable-generation/teachers/without-availability":
    get:
      tags:
        - schedule-generation-controller
      operationId: getTeachersWithoutAvailability
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                type: object
                additionalProperties: {}
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '422':
          description: Unprocessable Entity
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/timetable-generation/candidates":
    get:
      tags:
        - schedule-generation-controller
      operationId: getCandidates
      parameters:
        - name: key
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/CandidateSchedule"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '422':
          description: Unprocessable Entity
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/teacher-attendance/today":
    get:
      tags:
        - teacher-attendance-controller
      operationId: getToday
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/TeacherAttendanceTodayResponse"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '422':
          description: Unprocessable Entity
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/teacher-attendance/school/today":
    get:
      tags:
        - teacher-attendance-controller
      operationId: getSchoolAttendanceToday
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/TeacherAttendanceTodayResponse"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '422':
          description: Unprocessable Entity
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/school/unavailabilities":
    get:
      tags:
        - teacher-availability-controller
      operationId: getAllUnavailabilities
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/TeacherAvailabilityResponseDto"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '422':
          description: Unprocessable Entity
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/school/teachers":
    get:
      tags:
        - school-controller
      operationId: getTeachers
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/TeacherSummaryResponse"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '422':
          description: Unprocessable Entity
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/school/members":
    get:
      tags:
        - school-controller
      operationId: getMembers
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/TeacherSummaryResponse"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '422':
          description: Unprocessable Entity
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/school/me":
    get:
      tags:
        - school-controller
      operationId: getActiveSchool
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/SchoolSummaryResponse"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '422':
          description: Unprocessable Entity
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/notifications":
    get:
      tags:
        - notification-controller
      operationId: getNotifications
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/NotificationResponseDto"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '422':
          description: Unprocessable Entity
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/mypage/active-school":
    get:
      tags:
        - mypage-controller
      operationId: getActiveSchool_1
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ActiveSchoolResponse"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '422':
          description: Unprocessable Entity
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/auth/kakao/callback":
    get:
      tags:
        - auth-controller
      operationId: kakaoCallback
      parameters:
        - name: code
          in: query
          required: true
          schema:
            type: string
        - name: redirect_uri
          in: query
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '422':
          description: Unprocessable Entity
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/administration-staff/employees/{userStoreId}/profile":
    get:
      tags:
        - view-profile-controller
      operationId: getEmployeeProfile
      parameters:
        - name: userStoreId
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ViewProfileResponse"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '422':
          description: Unprocessable Entity
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '500':
          description: Internal Server Error
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
  "/api/administration-staff/employees/{userStoreId}/attendance":
    get:
      tags:
        - view-attendance-controller
      operationId: getEmployeeAttendance
      parameters:
        - name: userStoreId
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: startDate
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: endDate
          in: query
          required: true
          schema:
            type: string
            format: date
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ViewAttendanceResponse"
        '400':
          description: Bad Request
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '401':
          description: Unauthorized
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '403':
          description: Forbidden
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '404':
          description: Not Found
          content:
            "*/*":
              schema:
                "$ref": "#/components/schemas/ApiResponseObject"
        '422':
          description: Unprocessable Entity
[...]
